.container
  %div
    %h3
      Title:
  .content
    = @essay.title
  %div
    %h3
      Description:
  .content
    = @essay.description
  %div
    %h3
      Body:
  .content
    = @essay.body
  %div
    %h3
      Status:
      = @essay.status
