@import "bootstrap";

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

tr a {
  padding: 5px;
}

.disabled {
  padding: 0px 5px;
}
