.panel.panel-default
  .panel-heading
    %h3.panel-title
      Vote
  .panel-body
    .voting_booth
      .up_vote
        = link_to "  Affirm the motion", "#", class: 'btn btn-success btn-lg glyphicon glyphicon-thumbs-up'
      .down_vote
        = link_to "  Negate the motion", "#", class: 'btn btn-danger btn-lg glyphicon glyphicon-thumbs-down'



