%h1 Listing essays

%table
  %tr
    %th
    %th
    %th

  - @essays.each do |essay|
    %tr
      %td= link_to 'Show', user_essay_path(@user, essay)
      %td= link_to 'Edit', edit_user_essay_path(@user, essay)
      %td= link_to 'Destroy', user_essay_path(@user, essay), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Essay', new_user_essay_path
